<% include partials/header.ejs%>

 <% if (typeof message !== 'undefined'){ %>
    <h2 style = "color:red;"><%= message %></h2>
  <% } %>
<div class="row text-center">
  <div class="col-lg-12">
			<h3>Here's Your Song</h3>
			<h5 class="labels1"><%= song.title %></h5>
				<!-- <br> -->
			<h5 class="labels1"><%= song.artist_name %></h5>
			<!-- <br> -->
			<% var trimSpotId = "" %>
				<% if(song.tracks.length>0) {%>
				  <% var spotifyID =  song.tracks[0].foreign_id %>
				  <% trimSpotId =  spotifyID.slice(14)%>
				  Spotify ID: <%= trimSpotId%>

				  <% } %>
			<br>

	<!-- </div> -->

	  <!-- <div class="col-lg-8" id="playerholder"> -->
		  <!-- <div id="player"> -->
		  	<% if(trimSpotId.length>0){ %>
					<iframe src="https://embed.spotify.com/?uri=spotify:track:<%= trimSpotId %>" width="390" height="91" frameborder="0" allowtransparency="true"></iframe>
					<% } %>
				<% if(trimSpotId.length<1){  %>
				<h3>Sorry. No Spotify Track Available</h3>
				<% } %>
		  </div>

		<!-- </div> -->

</div>
<hr>
<div class='col-md-8'>
	<form class="info">
		  <br>
    <label class="sLabel" for="energy">Energy</label>
    <input type=range min=1 max=7 name="eFuzz" value=0 class=fader id="energyFuzz"step=.25>
    <input type="range" class ="dInput" id="energy"  name="energy" min="0" max="1" step="0.01" value="<%= song.audio_summary.energy %>">
    <br>
   <label class="fLabel" for="eFuzz">Fuzziness</label>
    <label class="sLabel" for="liveness">Liveness</label>
    <input type=range min=1 max=7 name="liveFuzz" value=0 class=fader id="livenessFuzz"step=.05>
    <input type="range" class ="dInput" name="liveness" min="0" max="1" step="0.01" value="<%= song.audio_summary.liveness %>">
    <br>
    <label class="fLabel" for="liveFuzz">Fuzziness</label>
    <label class="sLabel" for="tempo">Tempo</label>
    <input type=range min=1 max=7 name="tFuzz" value=0 class=fader id="tempoFuzz"step=.05>
    <input type="range" class ="dInput" name="tempo" min="0" max="1" step="0.01" value="<%= (song.audio_summary.tempo)/500 %>">
    <br>
    <label class="fLabel" for="tFuzz">Fuzziness</label>
    <label class="sLabel" for="speechiness">Speechiness</label>
    <input type=range min=1 max=7 name="sFuzz" value=0 class=fader id="speechinessFuzz"step=.05>
    <input type="range" class ="dInput" name="speechiness" min="0" max="1" step="0.01" value="<%= song.audio_summary.speechiness %>">
    <br>
    <label class="fLabel" for="sFuzz">Fuzziness</label>
    <label class="sLabel" for="acousticness">Acousticness</label>
    <input type=range min=1 max=7 name="aFuzz" value=0 class=fader id="acousticnessFuzz"step=.05>
    <input type="range" class ="dInput" name="acousticness" min="0" max="1" step="0.01" value="<%= song.audio_summary.acousticness %>">
    <br>
    <label class="fLabel" for="aFuzz">Fuzziness</label>
    <label class="sLabel" for="instrumentalness">Instrumentalness</label>
    <input type=range min=1 max=7 name="iFuzz" value=0 class=fader id="instrumentalnessFuzz"step=.05>
    <input type="range" class ="dInput" name="instrumentalness" min="0" max="1" step="0.01" value="<%= song.audio_summary.instrumentalness %>">
    <br>
    <label class="fLabel" for="iFuzz">Fuzziness</label>
<!--    <br>
    <label class="sLabel" for="danceability">Danceability</label>
    <input type=range min=1 max=7 name="iFuzz" value=0 class=fader id="danceabilityFuzz"step=.05>
    <input type="range" class ="dInput" name="danceability" min="0" max="1" step="0.01" value="<%= song.audio_summary.danceability %>">
   <br>
   <br>
   <br>
    <label class="sLabel" for="song_hotttness">Hottness</label>
    <input type=range min=1 max=7 name="iFuzz" value=0 class=fader id="song_hotttnessFuzz"step=.05>
    <input type="range" class ="dInput" name="song_hotttness" min="0" max="1" step="0.01" value="<%= song.audio_summary.song_hotttness %>">
  <br> -->
    <!-- <label class="fLabel" for="iFuzz">Fuzziness</label>    -->
	</form>
	<br>

	<form id="myForm" action="/search" method="POST">
	 <p class='buttonLabel'>Choose a key</p>
  <select name="key" class='keyChoice'>
	  <option value="" <%if(song.audio_summary.key == ""){%>selected<%}%>>Any</option>
	  <option value="0"<%if(song.audio_summary.key == "0"){%>selected<%}%>>C</option>
	  <option value="1"<%if(song.audio_summary.key == "1"){%>selected<%}%>>C-Sharp</option>
	  <option value="2"<%if(song.audio_summary.key == "2"){%>selected<%}%>>D</option>
	  <option value="3"<%if(song.audio_summary.key == "3"){%>selected<%}%>>E-Flat</option>  
	  <option value="4"<%if(song.audio_summary.key == "4"){%>selected<%}%>>E</option>
	  <option value="5"<%if(song.audio_summary.key == "5"){%>selected<%}%>>F</option>  
	  <option value="6"<%if(song.audio_summary.key == "6"){%>selected<%}%>>F-Sharp</option>
	  <option value="7"<%if(song.audio_summary.key == "7"){%>selected<%}%>>G</option>  
	  <option value="8"<%if(song.audio_summary.key == "8"){%>selected<%}%>>A-Flat</option>
	  <option value="9"<%if(song.audio_summary.key == "9"){%>selected<%}%>>A</option>
	  <option value="10"<%if(song.audio_summary.key == "10"){%>selected<%}%>>B-Flat</option>
	  <option value="11"<%if(song.audio_summary.key == "11"){%>selected<%}%>>B</option>

	</select>
	  <br>
	  <br>
    <label class="obscure" for="relevance">Well Known</label>    
    <input class="obscure" type="radio" id= "familiar"  name="sort" value="artist_familiarity-desc" checked>
    <label class="obscure" for="relevance">Obscure</label>
    <input class="obscure" type="radio" id= "relevance"  name="sort" value="artist_familiarity-asc">
		    
		    <input type="hidden" name="max_energy" id="energyMax" value="">
		    <input type="hidden" name="min_energy" id="energyMin" value="">

		    <input type="hidden" name="max_liveness" id="livenessMax" value="">
		    <input type="hidden" name="min_liveness" id="livenessMin" value="">

		    <input type="hidden" name="max_tempo" id="tempoMax" value="">
		    <input type="hidden" name="min_tempo" id="tempoMin" value="">

		    <input type="hidden" name="max_speechiness" id="speechinessMax" value="">
		    <input type="hidden" name="min_speechiness" id="speechinessMin" value="">

		    <input type="hidden" name="max_acousticness" id="acousticnessMax" value="">
		    <input type="hidden" name="min_acousticness" id="acousticnessMin" value="">

		    <input type="hidden" name="max_instrumentalness" id="instrumentalnessMax" value="">
		    <input type="hidden" name="min_instrumentalness" id="instrumentalnessMin" value="">

<!-- 		    <input type="hidden" name="max_danceability" id="danceabilityMax" value="">
		    <input type="hidden" name="min_danceability" id="danceabilityMin" value="">

		    <input type="hidden" name="song_max_hotttness" id="hotttnessMax" value="">
		    <input type="hidden" name="song_min_hotttness" id="hotttnessMin" value="">	 -->	    

    <input type="submit" class ="btn btn-primary " id='searchButton' value='Find Songs Like This'>
	</form>
	</div>
	<br>

	

<script>
var myForm = document.getElementById("myForm");//gets the form



myForm.addEventListener("submit", function (event) {//puts a listner on submit
	// event.preventDefault();
	console.log("Listener is on!")
	var arrInputs = document.getElementsByClassName("dInput")//gets all the non functioning inputs
	arrInputs = Array.prototype.slice.call(arrInputs);
	arrInputs.forEach(function(songVar){//loops through the d-inputs
			var maxVersion = document.getElementById(songVar.name+"Max");//gets the matching max input
			var minVersion = document.getElementById(songVar.name+"Min");//gets the min input
			var fuzzVal = document.getElementById(songVar.name+"Fuzz");//gets the fuzz factor
			fuzzVal = Number(fuzzVal.value);
			valToFuzz = Number(songVar.value);
			var rnd = function(num){
				return(Math.floor(num*10000))/10000;	
			};


			if(maxVersion){
					if(songVar.name == "tempo"){
						valToFuzz = valToFuzz;
						maxVersion.value = 500*rnd((Math.min(1,(valToFuzz+((Math.pow(fuzzVal, 2))/100)))+.001));

					}
					else{

				// console.log("The songVar after parseInt: " + valToFuzz);
				maxVersion.value = rnd(Math.min(1,(valToFuzz+((Math.pow(fuzzVal, 2))/100))+.001));//adjusts the value
				//for the max version so it adjust slowly and then more quickly
					}
				console.log("This is the max value " + maxVersion.value)
			}
			if(minVersion){
					if(songVar.name == "tempo"){
						console.log("The tempo value to fuzz is " + valToFuzz);
						valToFuzz = valToFuzz;
						console.log("The tempo value to fuzz is " + valToFuzz);



						minVersion.value = 500*rnd(Math.max(0,(valToFuzz-((Math.pow(fuzzVal, 2))/100))));

					}
					else{
					minVersion.value = rnd(Math.max(0,(valToFuzz-((Math.pow(fuzzVal, 2))/100))-.001));//adjusts the value for the min version.
				}
					console.log("This is the min value " + minVersion.value)

		}
	});

});

</script>


<% include partials/footer.ejs%>


